
@import "tailwindcss";

*{
  font-family: Outfit;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}
.dark {
  --bg-color: #11001F;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}